  .li-nearZenith {
    background-color: #be6fbe;
    font-weight: bold;
  }
   .custom-card:hover {
   transform: scale(1.03); /* Escala ligeramente la tarjeta */
   box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06); /* Sombra más pronunciada */
   transition: all 0.3s ease; /* Transición suave */
   cursor: pointer; /* Cambia el cursor a pointer */
 }